<!DOCTYPE html>
<html>
  <head>
    <title>Aegis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="header">
      <div id="logo">aegis</div>
    </div>
    <div class="container">
      {% block content %}
      
      {% endblock %}
    </div>
  </body>
</html>
